body {
    margin: 0;
}

header {
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
}

/* creo le classi per i font  */
.boldonse {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.hero {
    background-color: firebrick;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-stage {
    background-color: darkseagreen;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

ul {
    list-style: none;
}

li {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#menu {
    /* all'inizio non si vede  */
    display: none;
}

.menu {
    cursor: pointer;
}

.menu-lista>ul>li {
    text-align: center;
}

footer {
    height: 13vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoScuola {
    height: 13vh;
    display: flex;
    align-items: center;
}

.imgLogo {
    height: 80%;
}

.info>a {
    text-decoration: none;
    background-color: darkcyan;
    color: white;
    padding: 10px 8px;
    border-radius: 10px;
}

/* seleziono i tre div dentro al footer  */
footer>div {
    /* specifico la larghezza dei tre div nel footer e li metto in mezzo  */
    width: 33.33333%;
    display: flex;
    justify-content: center;
}

.inizio {
    display: flex;
    height: 80vh;
    /*se non ci stai vai a capo*/
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenitore {
    width: 40%;
    background-color: aquamarine;
    height: 35%;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

/*  animazione quando passo con il muose sui contenitori*/
.contenitore:hover {
    background-color: tomato;
    transition: 0.3s;
}

.cv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.curriculum {
    width: 65%;
    border: 1px solid black;
    padding: 20px;

}

.intestazione {
    text-align: center;
}

.fascia-download {
    background-color: slateblue;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottone {
    background-color: darkmagenta;
    color: floralwhite;
    font-family: "Boldonse";
    padding: 10px 20px;
    border-radius: 15px;
}

.bottone:hover {
    background-color: slateblue;
    color: darkorange;
    border: 1px solid mistyrose;
}

.a {
    text-decoration: none;
}

.bonus {
    height: 50vh;
}

html {
    /*proprità che scrolla il sito*/
    scroll-behavior: smooth;
}

.testo {
    text-align: center;
    width: 60%;
}

.intro-stage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.relazione-terza {
    display: flex;
    background-color: palegoldenrod;
}

.sx,
.dx {
    width: 50%;
    padding: 5%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    color: midnightblue;
    font-size: 20px;
}

.immagine {
    width: 65%;
    padding: 3%;
}

.relazione {
    display: flex;
    background-color: blueviolet;
}

.c1 {
    background-image: url(./img/bella\ vista.jpg);
    color: white;
}

.c1:hover {
    background-image: none;
    color: black;
}

.c2 {
    background-image: url(./img/Mizutsune_my_personale_kitsune.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    color: white;
}

.c2:hover {
    background-image: none;
    color: black;
}

.c3 {
    background-image: url(./img/Smandown_Bologna.webp);
    background-size: cover; 
    background-repeat: no-repeat;
    color: white;
}

.c3:hover {
    background-image: none;
    color: black;
}

.c4 {
    background-image: url(./img/knight_of_catarina.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    color: white;
}

.c4:hover {
    background-image: none;
    color: black;
}